{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
          <h1>Hello Hambo</h1>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
